<div class="container-fluid">
 
    <div class="row all-row">
        <h1 class="text-center"></h1>
       
          <!-- project1 -->
            <section class="project blue">
              <div class="container">
                <div class="row g-0">
                 
                  <div class="col-md-6">
                      <div class="left">
                        <h3 class="card-title">Arifa App</h3>
                        <a href="https://arifa.herokuapp.com/" target="a_blank" class="featured-title" rel="noopener noreferrer">Live Link</a>
                          <div class="inner">
                            <p class="card-text">An app that helps potential investors in need of investment guidance with experts in the investment industry.</p>
                            <p class="card-text"><strong>Technologies:</strong> Django 3.2, PostgreSQL, JQuery, HTML5, CSS3</p>
                          </div>
                       <a target="_blank" href="https://github.com/JoyMbugua/arifa" class="cta-btn" rel="noopener noreferrer">Github repo</a>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <img class="shadow p-3 mb-5 bg-body" src="../../assets/images/capstone.png" alt="...">
                  </div>
                </div>
              </div>
            </section>
        
              <!-- project2 -->
               <section class="project">
                 <div class="container">
                  <div class="row g-0">
                   
                    <div class="col-md-6">
                      <div class="inner">
                        <h3 class="card-title">Jirani App</h3>
                        <a href="https://jirani-app-jm.herokuapp.com/" target="a_blank" class="featured-title" rel="noopener noreferrer">Live Link</a>
                          <div class="inner">
                            <p class="card-text">An app that helps users stay up to date with events in their neighborhood</p>
                            <p class="card-text"><strong>Technologies: </strong>Django 3.2, Django Rest Framework, PostgreSQL, HTML5, CSS3</p>
                            <a target="_blank" rel="noopener noreferrer" href="https://github.com/JoyMbugua/jirani-app" class="cta-btn">Github repo</a>
                          </div>

                      </div>
                    </div>
                    <div class="col-md-4">
                      <img class="shadow p-3 mb-5 bg-body" src="../../assets/images/jirani.png"  alt="...">
                    </div>
                  </div>
                 </div>
               </section>
              
              <!-- project3 -->
              
               <section class="project blue">
                 <div class="container">
                  <div class="row g-0">
                   
                    <div class="col-md-6">
                          <div class="left">
                            <h3 class="card-title">News App</h3>
                            <a href="https://jmbugua-newsapp.herokuapp.com/" target="a_blank" class="featured-title" rel="noopener noreferrer">Live Link</a>

                            <div class="inner">
                              <p class="card-text">An app that helps users stay up to date with global events, including COVID-19 news.</p>
                              <p class="card-text"><strong>Technologies:</strong>Flask, PostgreSQL, HTML5, CSS3, News API</p>
                              <a target="_blank" href="https://github.com/JoyMbugua/NewsApp" class="cta-btn" rel="noopener noreferrer">Github repo</a>
                            </div>
                          </div>
                       
                    </div>
                    <div class="col-md-4">
                      <img class="shadow p-3 mb-5 bg-body" src="../../assets/images/newsapp.png"  alt="...">
                    </div>
                  </div>
                 </div>
               </section>
              
              <!-- project4 -->
            
              <section class="project">
                  <div class="container">
                    <div class="row no-gutters">
                     
                      <div class="col-md-6">
                          <div class="left">
                            <h3 class="card-title">Consult App</h3>
                              <div class="inner">
                                <p class="card-text">An app that provides physicians and nurses with a platform to communicate and collaborate in realtime</p>
                                <p class="card-text"><strong>Technologies:</strong>Angular, Angular Material, Firebase, HTML5, CSS3</p>
                               
                              </div>
                          </div>                          
                      </div>
                      <div class="col-md-4">
                        <img class="shadow p-3 mb-5 bg-body" src="../../assets/images/consult.png" alt="...">
                      </div>
                     
                    </div>
                  </div>
              </section>
    </div>
</div>

