.container-fluid{
    position: inherit;
    background-color: #f7f7f7;
    padding: 4em 2em;
    text-align: center;
}
.all-row{
    padding-top: 7px;
}
.row-1{
    height: 15vh;
}
.cta-btn{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    /* margin-top: 40px; */
    margin-left: 10px;
    display: inline-block;
    border-radius: 20px;
}
.card{
    background-color: whitesmoke;
}
.right-col{
    text-align: right;
}
h3 {
    font-size: 30px;
    line-height: 150%;
    font-weight: normal;
  }
/* .repo-btn{
    background-color: #6700ee;
    color: white;
    
}
.link-btn{
    
    color: #6700ee;
} */
h3{
    font-weight: bold;
}
/* .project{
    margin-bottom: 20px;
    padding: 50px;
} */

  img{
    width: 100%;
    margin-left: 2em;
    border: 2px solid #c1c1c1;
    border-radius: 1em;
    margin-bottom: 2em;
    max-width: 500px;
  }
  .card-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #6700ff;
    letter-spacing: .2em;
    font-size: .85em;
  }
  
  .featured-title {
    color: black;
    font-weight: bold;
   
    margin-top: -.4em;
    display: block;
  }
  .card-text{
    color: #3b3b3b;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 500;
  }
  .inner{
      margin-top: 1em;
  }
  .left{
      margin: 2em;
  }
  .container{
      margin-bottom: 3em;
  }

  @media only screen and (max-width: 768px){
      .container-fluid{
          padding: 2em 2em;
      }
      img{
          margin-top: 2em;
          margin-left: 0;
      }
  }