<section class="portfolio">
    <div class="portfolio-container transition3">
           <div class="container">
               <div class="row">
                   <div class="col-md-8">
                    <div class="inner">
                        <p class="subtitle">Arifa App</p>
                        <p class="featured-title">
                            arifa.herokuapp.com
                        </p>
                        <p class="card-text">An app that helps potential investors in need of investment guidance with experts in the investment industry.</p>
                        <p class="card-text"><strong>Technologies: Django 3.2, PostgreSQL, JQuery, HTML5, CSS3</strong></p>
                        <button class="cta-btn repo-btn">Github repo</button>
                       <button class="cta-btn link-btn">Live Link</button>
                    </div>
                   </div>
                   <div class="col-md-4">
                    <img src="../../assets/images/capstone.png" class="img-fluid rounded-start" alt="...">
                   </div>
               </div>
           </div>
    
           <div class="divisor">
            <svg width="30" height="498" viewBox="0 0 18 498" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="7.5" cy="7.5" r="7.5" fill="#6700EE"/>
              <line x1="7.49999" y1="14.9966" x2="8.49999" y2="162.997" stroke="black"/>
              <circle cx="9" cy="164" r="6" fill="#EA4AED"/>
              <circle cx="10.5" cy="490.5" r="7.5" fill="#EA4AED"/>
              <line x1="8.5" y1="169.998" x2="9.5" y2="482.998" stroke="black"/>
              </svg>
              
              
          </div> 
   
        
    </div>
    <div class="portfolio-container transition3">
        <div class="portfolio-left">
            <div class="inner">
                <p class="subtitle">Gallery App</p>
                <p class="featured-title">
                    gallery.com
                </p>
                <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quis maxime saepe.</p>
            </div>
        </div>
        <a href="#"><img src="./images/photogalleryapp.jpg" alt=""></a>
    </div>
    <div class="portfolio-container transition3">
        <div class="portfolio-left">
            <div class="inner">
                <p class="subtitle">Gallery App</p>
                <p class="featured-title">
                    gallery.com
                </p>
                <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quis maxime saepe.</p>
            </div>
        </div>
        <a href="#"><img src="./images/photogalleryapp.jpg" alt=""></a>
    </div>
</section>
