
#text{
position: absolute;
top: 35%;
left: 20%;
color: white;
font-weight: 400;
/* text-transform: uppercase; */
}
.my-name{
    color: #FF64CB;
    
}
.lead, .my-name{
    font-size: 5rem;
    
}
.lead-texts{
    line-height: 800%;
}
.cursive{
    font-family: 'Shadows Into Light', cursive;
}
.cta{
    width: 20%;
    background-color: #28F2DA;
    color: #252934;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    transform-origin: 50% 50%;
}
.cta:hover{
    background-color: #FF64CB;
}
.nav-bar{
    width: 100%;
    background-color: #1d2029;
    position: fixed;
    top: 0;
    color: #FF64CB;
}

ng-particles{
    position: relative;
}
.cta-container{
    display: flex;
}
.resume{
    text-align: center;
}
.main{
    margin: 0;
}

@keyframes downarrow {
    0% { -webkit-transform: translateY(0);}
    100% { -webkit-transform: translateY(0.4em);}
  }
/* THe container */
@media only screen and (max-width: 1250px){
    #text{
        top: 15%;
    }
}

@media only screen and (max-width: 768px){
    .lead, .my-name{
        font-size: 3.5rem;
    }
    #text{
        top: 10%
    }
    .lead-texts{
        line-height: 600%;
    }
}

@media only screen and (max-width: 700px) {
    .main {
        background-color: #252934;
        padding: 0 20px;
        height: 100vh;
        width: auto; /* new */
       }
       .main ng-particles{
           display: none;
       }
       .main #text{
           position: unset;
       }
     
       .lead-texts{
        line-height: 600%;
    }
    .lead, .my-name{
        font-size: 3.5rem;
    }
    .cta{
        width: 150px
    }
    .cta svg{
        animation: downarrow 0.6s infinite alternate ease-in-out;
        
    }
  }

