<div class="main">
    <ng-particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)">

  
    </ng-particles>
    <div id="text">
     <div class="lead-texts">
        <p class="lead">Hi, I'm <span class="name" style="text-transform: uppercase; font-size: 5rem">Joy Mbugua</span>.</p>
        <p class="lead cursive">A Fullstack Developer.</p>
     </div>
       <div class="cta-container">
        <p class="cta">
            View My Portfolio
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
        </p>
       
       </div>
    </div>

</div>


