
#text{
position: absolute;
top: 35%;
left: 20%;
color: white;
font-weight: 400;
/* text-transform: uppercase; */
}
.name{
    color: #FF64CB;
    
}
.lead{
    font-size: 5rem;
    
}
.lead-texts{
    line-height: 800%;
}
.cursive{
    font-family: 'Shadows Into Light', cursive;
}
.cta{
    width: 20%;
    background-color: #28F2DA;
    color: #252934;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}
.cta:hover{
    background-color: #FF64CB;
}
.nav-bar{
    width: 100%;
    background-color: #1d2029;
    position: fixed;
    top: 0;
    color: #FF64CB;
}

ng-particles{
    position: relative;
}
.cta-container{
    display: flex;
}
.resume{
    text-align: center;
}
/* THe container */

@media only screen and (max-width: 768px) {
    .main {
        background-color: #252934;
        height: 100vh;
        padding: 0 20px;
        width: auto;
       }
       .main ng-particles{
           display: none;
       }
       .main #text{
           position: unset;
       }
       .cta{
           display: none;
       }
  }