<nav id="myDIV">
  <ul>
    <li>
      <span class="my-name">
        <img
          src="../../assets/images/ppic.jpeg"
          class="rounded-circle"
          alt="profile picture"
        />
        J.M</span
      >
    </li>
    <div class="links">
      <li (click)="toHome()" routerLink="active">Home</li>
      <li (click)="toSkills()" routerLink="active">Skills</li>
      <li (click)="toWorks()" routerLink="active">Works</li>
      <li (click)="toContact()" routerLink="active">Contact Me</li>
      <a href="/JoyMbugua.pdf" target="_blank" rel="noopener noreferrer">Resume</a>
    </div>
  </ul>
</nav>
