.container-fluid{
    background-color: white;
  
}
.row-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.content-row{
    margin-top: 4rem;
}

header{
    background-color: #252934;
    color: white;
    height: 30px;
   
}
.card-header-title{
    color: white;
    text-align: center;
}

.languages{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

}
.card{
    width: 380px;
    margin: .5rem;
    padding: 0;
}
.dj{
    max-width: 64px;
    max-height: 64px;
    margin-right: 1em;
}
.small{
    min-width: 64px;
}
.bulma{
    width: 64px;
}
.about{
    line-height: 250%;
   
}
.avi{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
/* .about-me{
    border-left: 1px solid black;
} */
.cta-btn{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    margin-left: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    color: white;
    font-size: 14px;
    background-color: #6700ff;
    font-weight: bold;
}
.inner{
    color: #6700ff;
    padding-right: 5px;
}


.tools-head{
    display: flex;
}
.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -1rem;
    margin-left: 1rem;
    
  }
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
  }
 .avi:hover .image {
    opacity: 0.3;
  }
  
 .avi:hover .middle {
    opacity: 1;
  }

  @media only screen and (max-width: 768px){
     .profile-img{
         border-radius: 50%;
         max-width: 200px;
         margin-left: 3em;
     } 
     .skills-header{
         height: 5vh;
     }
  }