<div class="container-fluid">
  <div class="row skills-header">
      <h1 class="text-center ms-5"></h1>
  </div>
  <div class="row intro">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <div class="image">
          <img src="../../assets/images/ppic.jpeg" class="profile-img" alt="">
      </div>

      </div>
      <div class="col-md-8">
        <!-- <h2 class="about-head">About Me</h2> -->
        <div class="about">
           
            <p style="line-height: 200%; font-size: 17px;" class="desc">
                Hey there! I'm Joyce Mbugua, a fullstack software developer based in Nairobi, Kenya.
                 Before becoming a programmer, I worked as a research analyst within the investment industry. I hold a Bachelor's degree in Political Science
                  and a certificate in Financial Analysis. 
                  I love web development and love learning and experimenting with new technologies. 
                  My focus and inspiration is crafting beautiful and professional web experiences.
                  <br> 
                  <span>Let's <span  class="inner"  (click)="toContact()">get in touch!</span></span>
            </p>
            <!-- <button class="cta resume">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                    <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                  </svg>
                Resume 
                </button>
                <button class="cta">
                    Contact Me
                </button> -->
                <a class="cta-btn" download="JoyMbugua-Resume.pdf" href="assets/downloads/JoyMbugua-Resume.pdf">Download Resume</a>
               
        </div>
      </div>
  </div>
    <div class="row content-row g-0">
      <div class="col-md-2"></div>
          <div class="tools col-md-10">
         <div class="ms-2 tools-head">
           <span><mat-icon>construction</mat-icon></span> <h2 style="font-size: 1.5rem; padding-left: 5px;">My Tools</h2> 
         </div>
            <!-- Languages -->
              <div class="languages">
                <div class="card transition2">
                  <header class="card-header">
                    <p class="card-header-title">
                      Languages
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      <span class="avi">
                        <img class="image" src="https://img.icons8.com/color/96/000000/python.png" width="64px"/>
                        <span class="middle">
                          <span class="text">Python</span>
                        </span>
                      </span>
                     <span class="avi">
                      <img class="image" src="https://img.icons8.com/color/96/000000/javascript--v1.png" width="64px"/>
                      <div class="middle">
                        <div class="text">JavaScript</div>
                      </div>
                     </span>
                      <span class="avi">
                        <img class="image" src="../../assets/images/typescript-480.png" alt="typescript logo" width="64px">
                        <div class="middle">
                          <div class="text">TypeScript</div>
                        </div>
                      </span>

                    </div>
                  </div>
                </div>
              <!-- backend -->
              <div class="card transition2">
                  <header class="card-header">
                    <p class="card-header-title">
                      Back-End Development
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                     <span class="avi">
                        <img class="image" src="https://img.icons8.com/color/48/000000/django.png" width="64px" />
                        <div class="middle">
                          <div class="text">Django</div>
                        </div>
                     </span>
                    <span class="avi">
                      <img class="image" src="https://img.icons8.com/ios-filled/50/000000/flask.png" width="64px"/>
                      <div class="middle">
                        <div class="text">Flask</div>
                      </div>
                    </span>

                     <span class="avi">
                      <img class="image" src="https://img.icons8.com/color/48/000000/postgreesql.png" width="64px"/>
                      <div class="middle">
                        <div class="text">PostgreSQL</div>
                      </div>
                     </span>
                     
                     <span class="avi">
                      <img class="image" src="https://img.icons8.com/color/48/000000/google-firebase-console.png" width="64px"/>
                      <div class="middle">
                        <div class="text">Firebase</div>
                      </div>
                     </span>
                    </div>
                  </div>
                </div>
                <!-- frontend -->
                <div class="card transition2">
                  <header class="card-header">
                    <p class="card-header-title">
                      Front-End Development
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      <span class="avi">
                        <img class=image src="https://img.icons8.com/color/48/000000/angularjs.png" width="64px" />
                        <div class="middle">
                          <div class="text">Angular</div>
                        </div>
                      </span>
                      <span class="avi">
                        <img class="image" src="https://img.icons8.com/color/48/000000/css3.png" width="64px" />
                        <div class="middle">
                          <div class="text">CSS3</div>
                        </div>
                      </span>
                      <span class="avi">
                        <img class="image" src="https://img.icons8.com/color/48/000000/html-5--v1.png" width="64px" />
                        <div class="middle">
                          <div class="text">HTML5</div>
                        </div>
                      </span>
                        <!-- <span class="avi">
                          <img src="https://img.icons8.com/color/96/000000/bootstrap.png" width="64px"/>
                          <div class="middle">
                            <div class="text">Bootstrap</div>
                          </div>
                        </span> -->
                 
                    </div>
                  </div>
                </div>
                <!-- design -->
                <div class="card transition2">
                  <header class="card-header">
                    <p class="card-header-title">
                      Design
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      <span class="avi">
                        <img class="image" src="https://img.icons8.com/fluent/96/000000/figma.png" width="64px"/>
                        <div class="middle">
                          <div class="text">Figma</div>
                        </div>
                      </span>
                      
                     <span class="avi">
                      <img class="image" src="../../assets/images/am.png" width="64px" />
                      <div class="middle">
                        <div class="text">Material UI</div>
                      </div>
                     </span>
                      <span class="avi">
                        <img class="image" src="https://img.icons8.com/color/96/000000/bootstrap.png" width="64px"/>
                        <div class="middle">
                          <div class="text">Bootstrap</div>
                        </div>
                      </span>
                      <span class="avi">
                        <img class="image" src="../../assets/images/bulma.png" width="72px"/>
                        <div class="middle">
                          <div class="text">Bulma</div>
                        </div>
                      </span>
                 
                    </div>
                  </div>
                </div>
                <!-- other tools -->
                <div class="card other-tools transition2">
                  <header class="card-header">
                    <p class="card-header-title">
                      Other Tools
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      <span class="avi">
                        <img class="image" src="https://img.icons8.com/color/96/000000/git.png" width="64px"/>
                        <div class="middle">
                          <div class="text">Git</div>
                        </div>
                      </span>
                        <!-- <span class="avi">
                          <img class="image" src="https://img.icons8.com/material-rounded/96/000000/github.png" width="64px"/>
                          <div class="middle">
                            <div class="text">Github</div>
                          </div>
                        </span> -->
                        <span class="avi">
                          <img class="image" src="../../assets/images/postman.png" width="64px" />
                          <div class="middle">
                            <div class="text">Postman</div>
                          </div>
                        </span>
                          <span class="avi">
                            <img class="image" src="https://img.icons8.com/color/48/000000/npm.png" width="64px"/>
                            <div class="middle">
                              <div class="text">NPM</div>
                            </div>
                          </span>
                            <span class="avi">
                              <img class="image" src="../../assets/images/heroku.jpeg" alt="" width="64px">
                              <div class="middle">
                                <div class="text">Heroku</div>
                              </div>
                            </span>
                    </div>
                  </div>
                </div>
              </div>
             
              
        </div>
       <div class="col-md-1">
       
       </div>    
       
    </div>
    <div class="row skills-header">
      <h1 class="text-center ms-5"></h1>
  </div>
</div>



            
          